{% extends 'base.html' %}

{% block title %} Welcome to PrimeCRM {% endblock title %}

{% block content %}

    <main class="px-3"> 
        <h1>This is PrimeCRM</h1> 
        <p class="lead">PrimeCRM is a Customer Relationship Management tool that is simple, web-based, affordable, and built for you.  We're not here to bill you every month, we just want to give you a simple CRM that will grow with you as more people switch to it.  </p> 
        
        <p class="lead"> <a href="{% url 'features' %}" class="btn btn-lg btn-light fw-bold border-white bg-white">Learn more</a> </p> </main> 


{% endblock content %}