{% extends 'base.html' %}

{% block title %} New Deal {% endblock title %}

{% block content %}

{% include 'crm/dealnavbar.html' %}

<h1> New Deal </h1>
<form method="POST">
    {% csrf_token %}
<div class="container">

  <div class="row">
    <div class="col-4"> Title </div>
    <div class="col-8"> {{form.title}}</div>
    <div class="col-4"> Expected Close Date  </div>
    <div class="col-8"> <input type="date" name="expectedclosedate" id="id_expectedclosedate" required> </div>
    <div class="col-4"> Amount ($) </div>
    <div class="col-8"> {{form.amount}}  </div>
    <div class="col-4"> Company  </div>
    <div class="col-8"> {{form.company}} </div>
    <div class="col-4"> Notes</div>
    <div class="col-8"> {{form.notes}} </div>
    <div class="col-4"> Status </div>
    <div class="col-8"> {{form.status}} </div>



  </div>
</div>



    <input type="submit" class="btn btn-success" value="create">
</form>

{% endblock content %}